<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <img src="assets/images/angular.svg" class="app-logo" alt="Logotipo" />
            <span id="brand">
                <strong>Curso</strong>Angular
            </span>
        </div>
        
        <app-menu></app-menu>

        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>