<app-slide
    [name] = "'Welcome to a this new Page!'"
    [size] = "'small'"
></app-slide>

<div class="center">
    <section id="content">
        <h1>Page</h1>
    </section>

    <app-sidebar></app-sidebar>
    <div class="clearfix"></div>
</div>

<app-footer></app-footer>