<div id="slider" 
    [ngClass]="{
        'slider-big': size == 'big' || size == '',
        'slider-small': size == 'small'
    }"
    >
    <h1>{{name}}</h1>
    <div *ngIf="size == 'big' && url !='' ">
        <a href="{{url}}" class="btn-white">Ir a {{url}}</a>
    </div>
</div>