<app-slide
    [name] = "'Welcome to Home Page'"
    [size] = "'big'"
    [url] = "'blog'"
></app-slide>

<div class="center">
    <section id="content">
        <h1>Inicio</h1>
    </section>

    <app-sidebar></app-sidebar>
    <div class="clearfix"></div>
</div>

<app-footer></app-footer>
