<!-- MENU -->
<nav id="menu">
    <ul>
        <li>
            <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
        </li>
        <li>
            <a [routerLink]="['/blog']" routerLinkActive="router-link-active" >Blog</a>
        </li>
        <li>
            <a [routerLink]="['/page']" routerLinkActive="router-link-active" >Page</a>
        </li>
        <li>
            <a [routerLink]="['/movies']" routerLinkActive="router-link-active" >Movies</a>
        </li>
        <li>
            <a [routerLink]="['/form']" routerLinkActive="router-link-active" >Form</a>
        </li>                            
    </ul>
</nav>
