<app-slide
    [name] = "'Welcome to Our Blog'"
    [size] = "'small'"   
></app-slide>

<div class="center">
    <section id="content">
        <h1>Blog</h1>
    </section>

    <app-sidebar></app-sidebar>
    <div class="clearfix"></div>
</div>

<app-footer></app-footer>